.comments {
    max-height: 100px;
    overflow-y: scroll;
}

.comments::-webkit-scrollbar {
    width: 5px;
}
.comments::-webkit-scrollbar-track {
    background: #c0c0c0;
    border-radius: 2.5px;
}
.comments::-webkit-scrollbar-thumb {
    background: #0f6d10;
    border-radius: 2.5px;
}