/* Comments */
.comments-title {
    font-weight: bold;
    cursor: pointer;
    background-color: #ECEBEC;
    padding: 5px 0;
}
.collapse-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: -3px 10px 3px;
    border: solid #767676;
    border-width: 0 3px 3px 0;
    transform: rotate( 45deg);
}
.collapse-open {
    transform: rotate(225deg) translate(-5px, -5px);
}
.comments-body {
    display: none;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 2px solid #ECEBEC;
}

.comments-body::-webkit-scrollbar {
    width: 5px;
}
.comments-body::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 2.5px;
}
.comments-body::-webkit-scrollbar-thumb {
    background: #0f6d10;
    border-radius: 2.5px;
}
.comment-label {
    margin: 0;
    font-size: smaller;
    color: #767676;
}
.comment {
    margin: 5px;
}

.note-info {
    width: 100%;
}
.note-title {
    display: flex;
}
.note-title span {
    font-size: small;
    font-weight: 400;
    margin-top: 9px;
    margin-left: 5px;
}
.note-img {
    width: 50%;
}
.details {
    display: none;
}
.ingredsTitle {
    margin-bottom: 0;
}
.ingreds p {
    margin-bottom: 0;
    margin-left: 30px;
}