<!DOCTYPE html>
<html>
    <body>
        <p>{{ trainer.lastName }} {{ trainer.firstName }}, вам было выслано приглашение для создания Тренерского аккаунта.</p>
        <h2>Ваш код: {{ trainer.code }}</h2>
        <p>Перейдите по ссылке <a href="https://fresultfit.onrender.com/register/trainer/{{trainer.code}}">ResultFit - Регистрация тренера</a>, чтобы закончить регистрацию.</p>
        <br>
        <p>Если вы считаете, что это письмо пришло вам по ошибке, то просто проигнорируйте его.</p>
    </body>
</html>