<!DOCTYPE html>
<html>
    <body>
        <p>{{ trainer.lastName }} {{ trainer.firstName }}, вам было выслано приглашение для создания Тренерского аккаунта в приложении ResultFit.</p>
        <h3><a href="https://fresultfit.onrender.com/register/trainer/{{trainer.code}}">ResultFit - Регистрация тренера</a></h3>
        <p>Перейдите по ссылке выше, чтобы закончить регистрацию.</p>
        <br>
        <p>Если вы считаете, что это письмо пришло вам по ошибке, то просто проигнорируйте его.</p>
    </body>
</html>