{% extends "base.html" %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    <link rel="stylesheet" href="{% static 'css/create_update.css' %}">
{% endblock %}
{% block script2 %}<script src="{% static 'js/systemdata.js' %}"></script>{% endblock %}
{#<!-- Content for Creating/Updating page -->#}
{% block content %}
<h4 class="small-header">{% block pageName %}Работа с БД{% endblock %}</h4>
<div id="inside-content">
    {% if messages %}
    <div id="messages">
        {% for message in messages %}
            <p id="success_code">{{ message }}</p>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {#<!-- Таблица полей, для ровного отображения -->#}
        <div class="input_field">
            <span class="label">База данных</span>
            <select id="database" name="database" required>
                <option value="Ingredient">Ingredient</option>
                <option value="Product">Product</option>
                <option value="Recipe">Recipe</option>
                <option value="PrepareUser">PrepareUser</option>
                <option value="ClientTrainer">ClientTrainer</option>
                <option value="MealType">MealType</option>
            </select>
        </div>
        <div class="input_field">
            <span class="label">SQL-выражение</span>
            <textarea rows="5" name="sql"></textarea>
        </div>
        <div class="form-buttons">
            <a class="btn btn-danger" href="{% url 'reset' %}">Сбросить</a>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
        <hr>
        {% if table_data %}
        <table class="table">
            <tr><td colspan="2" id="table_name">{{ table_data.table_name }} ({{ table_data.db_table }})</td></tr>
            <tr>
                <th>Атрибут</th>
                <th>Тип</th>
            </tr>
        </table>
        <table id="table_fields" class="table">
            {% for field in table_data.fields %}
                <tr>
                    <td>{{ field.name }}</td>
                    <td>{{ field.type }}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
    </form>
</div>
{% endblock %}