{% extends "base.html" %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/table.css' %}">
    {% block style2 %}{% endblock %}
{% endblock %}
{#<!-- Content for Creating/Updating page -->#}
{% block content %}
<h4 class="small-header">{% block pageName %}Системные данные{% endblock %}</h4>
<div id="inside-content">
    <div id="submenu" class="submenu">
        <a href="{% url 'activity' %}?active=True" {% if activeActivity %}class="subactive"{% endif %}>Тип активности</a>
        <a href="{% url 'purpose' %}?active=True" {% if activePurpose %}class="subactive"{% endif %}>Цель</a>
        <a href="{% url 'privacy' %}?active=True" {% if activePrivacy %}class="subactive"{% endif %}>Тип приватности</a>
        <a href="{% url 'unit' %}?active=True" {% if activeUnit %}class="subactive"{% endif %}>Единицы измерения</a>
        <a href="{% url 'product' %}?active=True" {% if activeProduct %}class="subactive"{% endif %}>Продукты</a>
    </div>
    <div id="messages">
        <p id="success_code">Какое то сообщение</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {#<!-- List (line) with general icons -->#}
    <div class="list-icons">
        {#<!-- Add icon (button) for creating new trainer -->#}
        <a  {% if activeActivity %}
                href="{% url 'create_activity' %}"
            {% elif activePurpose %}
                href="{% url 'create_purpose' %}"
            {% elif activePrivacy %}
                href="{% url 'create_privacy' %}"
            {% elif activeUnit %}
                href="{% url 'create_unit' %}"
            {% elif activeProduct %}
                href="{% url 'create_product' %}"
            {% endif %}
        id="addBtn">+</a>
        {#<!-- Search -->#}
        <form id="search" method="GET" class="form" 
            {% if activeActivity %}
                action="{% url 'activity' %}"
            {% elif activePurpose %}
                action="{% url 'purpose' %}"
            {% elif activePrivacy %}
                action="{% url 'privacy' %}"
            {% elif activeUnit %}
                action="{% url 'unit' %}"
            {% elif activeProduct %}
                action="{% url 'product' %}"
            {% endif %}
        >
            <label for="active" class="switch">
                <input type="checkbox" id="active" name="active" value="True" {% if active %}checked{% endif %}>
                <span class="slider round"></span>
            </label>
            {#<!-- Text field for search -->#}
            <input type="text" name="search" placeholder="Поиск" 
                    class="form-control" 
                    {% if search %}
                        value="{{ search }}"
                    {% else %}
                        value=""
                    {% endif %}></input>
            {#<!-- Button for submiting form -->#}
            <input type="image" src="{% static 'images/searchBtn.svg' %}" alt="Поиск">
        </form>
    </div>
    {% block content2 %}{% endblock %}
</div>
{% endblock %}