body {
    color: #000000;
    background-color: #f9f3e7;
}
#page {
    display: flex;
    flex-direction: row;
}
nav {
    width: 50px;
    height: 61.6px;
    background-color: #285422;
}
#top-nav {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 10px;
}
#top-nav h3 {
    display: none;
}
.menu-icon {
    margin-top: 5px;
    position: absolute;
    right: 10px;
    z-index: 1;
}
.menu-icon:before, .menu-icon:after, .menu-icon span {
      transition: all 0.2s linear;
      background: #000000;
      content: "";
      display: block;
      height: 3px;
      width: 20px;
      border-radius: 3px;
      margin: 4px 0;
    }
.menu-icon:hover {
    cursor: pointer;
}
.open:before{
    transition: all 0.2s linear;
    transform: translate(0, 7px) rotate(135deg);
}
.open:after {
    transition: all 0.2s linear;
    transform:  rotate(-135deg);
}
.open span {
    display: none;
}
.open:hover:before, .open:hover:after, .open:hover span {
    background: #5a5a5a;
    cursor: pointer;
}
.menu {
    display: none;
    flex-direction: column;
}
.open-menu {
    display: flex;
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: #285422;
    top: 50px;
    z-index: 1;
}
.darken {
    position:absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.515);
    z-index: 0;
}
#menu a {
    font-size: 16.5px;
    line-height: 35px;
    width: 100%;
    padding: 0 10px;
    color: #f6eedb;
}
#menu a:hover {
    /*background-color: #375c33;*/
    color: #ffffff;
    text-decoration: none;
}
a {
    color: #000000;
}
#menu a.active {
    background-color: #375c33;
    color: #ffffff;
}
#submenu {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    max-width: 97vw;
}
#submenu::-webkit-scrollbar {
    display: none;
}
#submenu a {
    font-size: 16.5px;
    line-height: 35px;
    border-bottom: 3px solid #b1b1b1;
    padding: 0 15px;
    margin-right: -5px;
    color: #807f7f;
    min-width: max-content;
}
#submenu a:hover {
    color: #285422;
    text-decoration: none;
}
#submenu a.subactive {
    border-bottom: 3px solid #4b8a44;
    color: #000000;
}
.countNum {
    background-color: #bf6e6eb6;
    border-radius: 50%;
    color: #000000;
    width: 20px;
    display:inline-block;
    text-align: center;
    height: 20px;
    line-height: 20px;
}
#interface {
    width: 100%;
}
header {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    padding: 10px;
    background-color: #285422;
    height: 61.6px;
}
h4.small-header {
    text-align: center;
    background-color: #faf0db;
    margin-left: -50px;
    margin-bottom: 0;
    padding: 6px;
}
.large-header {
    display: none;
}
#account {
    position: absolute;
    right: 10px;
    margin-top: 5px;
}
#inside-content {
    margin-left: -45px;
    padding: 10px;
    width: auto;
}
#messages {
    display: none;
    background-color: #d7dffd;
    border-radius: 5px;
    flex-direction: row;
    position: relative;
    padding: 10px;
    margin-bottom: 5px;
}
#messages p {
    width: 95%;
    margin-bottom: 0;
}
#messages button {
    position: absolute;
    right: 10px;
}
.btn {
    padding: 0.1rem 0.5rem;
}
.errorCol {
    color:#9a0303;
    width: 30px;
}
.saveCol {
    position: relative;
}
.saveCol button {
    position: absolute;
    right: 0;
    top: 0;
}
img.btnImage {
    height: 25px;
    width: 25px;
    padding-bottom: 2.5px;
}
button.btnImage {
    border: none;
    background-color: transparent;
    padding: 0;
}
#code_error {
    display: none;
}
.acts {
    display: flex;
    width: fit-content;
}
.acts a{
    margin: 0 1px;
}
.centerCol {
    text-align: center;
}
/*@media screen and (max-width: 1000px) and (orientation: landscape){
        
    nav {
        height: 61.6px;
        background-color: #542922;
    }
}*/
.hidden {
    display: none;
}
input[type=number] {
    width: 50px;
}
#wait-message {
    display: none;
    background-color: #0000007a;
}
.form-buttons {
    position: relative;
    width: 100%;
    position: relative;
    margin: auto;
}
.form-buttons .save {
    position: absolute;
    right: 0;
}

@media screen and (min-width: 600px){/* and (orientation: portrait){ /*Large view*/
    nav {
        width: 200px;
        height: 100vh;
    }
    #top-nav h3 {
        display: block;
    }
    .menu-icon {
        display: none;
    }
    .menu {
        display: flex;
    }
    .open-menu {
        position: relative;
        width: auto;
        text-align: left;
        background-color: none;
        top: 0;
        z-index: 1;
    }
    header {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        padding: 10px;
        background-color: #faf0db;
    }
    .small-header {
        display: none;
    }
    .large-header {
        display: block;
    }
    #inside-content {
        margin-left: 0;
        width: 100%;
    }
    .saveCol {
        position: relative;
    }
    .saveCol button {
        position: absolute;
        right: 0;
        top: 0;
    }
}