/*Tables*/
.list-icons {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    height: 25px;
}
#addBtn {
    font-size: 45px;
    line-height: 25px;
    padding: 0;
    margin-top: -5px;
}
#addBtn:hover {
    text-decoration: none;
    color: black;
}
#search {
    display: flex;
    position: absolute;
    right: 10px;
    margin-top: 2px;
}
#search input{
    height: 25px;
    margin-top: 0;
}
th {
    font-size: 15px;
}
#emptyList {
    text-align: center;
}
.btnCol {
    width: 25px;
    padding: 0.75rem 0.3rem !important;
}
.table-striped {
    max-width: 100%;
}
.emailCol {
    display: none;
}
.acceptCol, th {
    text-align: center;
}
.minCol {
    font-size: 12.5px;
}


@media screen and (min-width: 600px){
    
    .emailCol {
        display: block;
    }
    .minCol {
        font-size: 1em;
    }
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    margin-right: 3px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }