{% extends "systemdata.html" %}
{% load static %}
{#<!-- Content for displaying list of trainers -->#}
{% block content2 %}
    <table class="table table-striped">
        <tr>
            <th class="minCol">Название</th>
            <th class="minCol">КБЖУ</th>
            <th class="minCol">Ед измерения</th>
            <th class="btnCol"></th>
            <th class="btnCol"></th>
        </tr>
        {% if products %}
            {% for product in products %}
                <tr>
                    <td class="minCol">{{ product.name }}</td>
                    <td class="centerCol minCol">{{ product.kkal }}/{{ product.proteins }}/{{ product.fats }}/{{ product.carbohydrates }}</td>
                    <td class="centerCol minCol">{{ product.baseUnit }}</td>
                    <td class="btnCol">
                        <a href="{% url 'update_product' product.id %}">
                            <img src="{% static 'images/editBtn.svg' %}" alt="Edit" class="btnImage">
                        </a>
                    </td>
                    <td class="btnCol">
                        {% if product.active %}
                            <a href="{% url 'delete_product' product.id %}">
                                <img src="{% static 'images/deleteBtn.svg' %}" alt="Delete" class="btnImage">
                            </a>
                        {% else %}
                            <a href="{% url 'activate_product' product.id %}">
                                <img src="{% static 'images/return.svg' %}" alt="Return to active" class="btnImage">
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {#<!-- If there is no trainer in data then let user know. -->#}
        {% else %}
            <tr>
                <td colspan="6" id="emptyList">
                    <p>На данный момент данные отсутствуют.</p>
                    <p><a class="btn btn-secondary" href="{% url 'create_product' %}">Добавить</a></p>
                </td>
            </tr>
        {% endif %}
    </table>
{% endblock %}