{% extends "base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'css/user.css' %}">{% endblock %}
{% block script2 %}<script src="{% static 'js/systemdata.js' %}"></script>{% endblock %}
{#<!-- Content for Creating/Updating page -->#}
{% block content %}
<h4 class="small-header">{% block pageName %}
    {% if pk != None %}
        Редактирование продукта
    {% else %}
        Добавление продукта
    {% endif %}
{% endblock %}</h4>
<div id="inside-content">
    {#<!-- Форма отправки данных -->#}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {#<!-- Таблица полей, для ровного отображения -->#}
        {% comment %}<table>
            <tr>
                <td>{{ form.name.label_tag }}</td>
                <td>{{ form.name }}</td>
            </tr>
            <tr>
                <td>Ккал:</td>
                <td>{{ form.kkal }}</td>
            </tr>
            <tr>
                <td>Протеины:</td>
                <td>{{ form.proteins }}</td>
            </tr>
            <tr>
                <td>Жиры:</td>
                <td>{{ form.fats }}</td>
            </tr>
            <tr>
                <td>Углеводы:</td>
                <td>{{ form.carbohydrates }}</td>
            </tr>
            <tr>
                <td>Ед. измерения:</td>
                <td>{{ form.baseUnit }}</td>
            </tr>
            <tr>
                <td><a class="btn btn-danger" href="{% url 'product' %}?active=True">Отмена</a></td>
                <td class="saveCol" colspan="3"><button type="submit" class="btn btn-primary">Сохранить</button></td>
            </tr>
        </table>
        {% endcomment %}
        {{  formset.management_form }}
        <div id="formset">
            {% for form in formset %}
                <table id="form-{{ forloop.counter0 }}">
                    <tr>
                        <td>{{ form.name.label_tag }}</td>
                        <td>{{ form.name }}</td>
                        {% if not form.name.value %}
                        <td rowspan="2">
                            <button type="button" class="delete" data-dismiss="alert" aria-label="Close" value="form-__prefix__">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <span style="width: 50px;">кКал/</span>
                            <span>Белки/</span>
                            <span>Жиры/</span>
                            <span>Углеводы</span>
                        </td>
                    </tr>
                    <tr>
                        <td>КБЖУ:</td>
                        <td style="width: 50px">{{ form.kkal }}/{{ form.proteins }}/{{ form.fats }}/{{ form.carbohydrates }}</td>
                    </tr>
                    <tr>
                        <td>Ед. измерения:</td>
                        <td style="width: 230px;">{{ form.baseUnit }}</td>
                    </tr>
                    <tr><td colspan="3"><hr></td></tr>
                </table>
            {% endfor %}
        </div>
        <table>
            {% if not form.name.value %}
            <tr>
                <td><button type="button" id="add-ingredient" class="btn btn-secondary">+ Продукт</button></td>
                <td></td>
            </tr>
            {% endif %}
            <tr>
                <td><a class="btn btn-danger" href="{% url 'product' %}?active=True">Отмена</a></td>
                <td ><button type="submit" class="btn btn-primary">Сохранить</button></td>
            </tr>
        </table>
        <div class="hidden">
            <table id="empty-form">
                <tr>
                    <td>{{ formset.empty_form.name.label_tag }}</td>
                    <td>{{ formset.empty_form.name }}</td>
                    <td rowspan="2">
                        <button type="button" class="delete" data-dismiss="alert" aria-label="Close" value="form-__prefix__">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <span>кКал/</span>
                        <span>Белки/</span>
                        <span>Жиры/</span>
                        <span>Углеводы</span>
                    </td>
                </tr>
                <tr>
                    <td>КБЖУ:</td>
                    <td>{{ formset.empty_form.kkal }}/{{ formset.empty_form.proteins }}/{{ formset.empty_form.fats }}/{{ formset.empty_form.carbohydrates }}</td>
                </tr>
                <tr>
                    <td>Ед. измерения:</td>
                    <td>{{ formset.empty_form.baseUnit }}</td>
                </tr>
                <tr><td colspan="3"><hr></td></tr>
            </table>
        </div>
    </form>
</div>
{% endblock %}