/*Login and Register*/
#enterForm {
    text-align: center;
    background-color: #1e4d24;
    color: antiquewhite;
    padding: 10px;
    min-height: 100vh;
}
#enterForm a {
    color: rgb(244, 143, 158);
}
#enterForm h4 a {
    color: antiquewhite;
}
#enterForm h4 a:hover {
    text-decoration: none;
}
#enterForm table {
    margin: 5px auto;
    text-align: right;
}
#enterForm hr {
    background-color: antiquewhite;
}
hr#fromTitle {
    background-color: #133417;
    height: 2px;
}
#trainer-list {
    background-color: #2962b0bc;
}
#trainers {
    display: flex;
    flex-direction: row;
}
#trainers a {
    background-color: rgba(250, 235, 215, 0.799);
    text-align: center;
    margin: 5px;
    padding: 2px;
}

@media screen and (min-width: 600px){
    /*Login and Register*/
    #enterForm {
        min-height: fit-content;
        width: 500px;
        margin: 10px auto;
        border-radius: 10px;
    }
}