{% extends "systemdata.html" %}
{% load static %}
{#<!-- Content for displaying list of trainers -->#}
{% block content2 %}
    <table class="table table-striped">
        <tr>
            <th>Название</th>
            <th>Полное Название</th>
            <th class="emailCol">Описание</th>
            <th class="btnCol"></th>
            <th class="btnCol"></th>
        </tr>
        {% if units %}
            {% for unit in units %}
                <tr>
                    <td>{{ unit.name }}</td>
                    <td>{{ unit.full_name }}</td>
                    <td class="emailCol">{{ unit.description }}</td>
                    <td class="btnCol">
                        <a href="{% url 'update_unit' unit.id %}">
                            <img src="{% static 'images/editBtn.svg' %}" alt="Edit" class="btnImage">
                        </a>
                    </td>
                    <td class="btnCol">
                        {% if unit.active %}
                            <a href="{% url 'delete_unit' unit.id %}">
                                <img src="{% static 'images/deleteBtn.svg' %}" alt="Delete" class="btnImage">
                            </a>
                        {% else %}
                            <a href="{% url 'activate_unit' unit.id %}">
                                <img src="{% static 'images/return.svg' %}" alt="Return to active" class="btnImage">
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {#<!-- If there is no trainer in data then let user know. -->#}
        {% else %}
            <tr>
                <td colspan="6" id="emptyList">
                    <p>На данный момент данные отсутствуют.</p>
                    <p><a class="btn btn-secondary" href="{% url 'create_unit' %}">Добавить</a></p>
                </td>
            </tr>
        {% endif %}
    </table>
{% endblock %}