{% extends "base.html" %}
{% load static %}
{#<!-- Content for Reading page -->#}
{% block content %}
<h4 class="small-header">{% block pageName %}Тренер{% endblock %}</h4>
<div id="inside-content">
    {#<!-- Other object data -->#}
    <table class="object-detail">
        <tr>
            <td>Фамилия:</td>
            <td>{{ trainer.lastName }}</td>
        </tr>
        <tr>
            <td>Имя:</td>
            <td>{{ trainer.firstName }}</td>
        </tr>
        <tr>
            <td>email:</td>
            <td>{{ trainer.email }}</td>
        </tr>
        <tr>
            <td>Код для входа:</td>
            <td>{{ trainer.code }}</td>
        </tr>
        <tr>
            <td>Авторизован?</td>
            <td>{% if trainer.user %}
                    Да
                {% else %}
                    Нет
                {% endif %}
            </td>
        </tr>
    </table>
    <div class="acts">
        <a href="/trainers/{{ trainer.pk }}/update">
            <img src="{% static 'images/editBtn.svg' %}" alt="Edit" class="btnImage">
        </a>
        <form action="" method="POST" id="delete-form">
            {% csrf_token %}
            <input type="hidden" value="card" name="template">
            <button type="submit" class="btnImage"><img src="{% static 'images/deleteBtn.svg' %}" alt="Delete" class="btnImage"></button>
        </form>
    </div>
</div>
{% endblock %}