{% extends "base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'css/create_update.css' %}">{% endblock %}
{% block script2 %}<script src="{% static 'js/recipe.js' %}"></script>{% endblock %}
{#<!-- Content for Creating/Updating page -->#}
{% block content %}
<h4 class="small-header">{% block pageName %}
    {% if pk != None %}
        Редактирование рецепта
    {% else %}
        Добавление рецепта
    {% endif %}
{% endblock %}</h4>
<div id="inside-content">
    {#<!-- Форма отправки данных -->#}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {#<!-- Таблица полей, для ровного отображения -->#}
        <div class="input_field">
            <span class="label">{{ form.name.label }}</span>{{ form.name }}
        </div>
        <div class="raw-fields">
            <div class="input_field">
                <span class="label">Доступ</span>{{ form.privacy }}
            </div>
            <div class="input_field">
                <span class="label">Прием пищи</span>{{ form.mealType }}
            </div>
        </div>
        <div class="multi-field-block">
            <span class="label">Ингредиенты</span>
            {{  formset.management_form }}
            <div id="formset">
                {% for form in formset %}
                <div id="form-{{ forloop.counter0 }}">
                    {% if forloop.counter0 != 0 %}<hr>{% endif %}
                    <div class="raw-fields">
                        <div class="input_field large-field">
                            <span class="label">{{ form.product_name.label }}</span>
                            {% comment %}{{ form.product_name }} {% endcomment %}
                            <input type="text" list="products-{{ forloop.counter0 }}" name="form-{{ forloop.counter0 }}-product_name" maxlength="100" id="id_form-{{ forloop.counter0 }}-product_name" class="product_name"
                                {% if form.product_name.value %}
                                    value="{{ form.product_name.value }}"
                                {% endif %}/>
                            <datalist id="products-{{ forloop.counter0 }}"></datalist>
                        </div>
                        <button type="button" class="delete" data-dismiss="alert" aria-label="Close" value="form-{{ forloop.counter0 }}">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="raw-fields">
                        <div class="input_field">
                            <span class="label">Кол-во</span>{{ form.amount }}
                        </div>
                        <div class="input_field">
                            <span class="label">Ед. изм.</span>{{ form.unitType }}
                        </div>
                        {% if form.product_name.value %}
                        {{ form.id }}
                        <div class="hidden">{% if formset.can_delete %}{{ form.DELETE }}{% endif %}</div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <button type="button" id="add-ingredient" class="btn btn-secondary">+ Ингредиент</button>
        </div>
        <div class="input_field">
            <span class="label">Шаги приготовления</span>{{ form.description }}
        </div>
        <div class="input_field">
            <span class="label">{{ form.recommends.label }}</span>{{ form.recommends }}
        </div>
        <div class="form-buttons">
            <a class="btn btn-danger" href="/recipes/{% if pk != None %}/card/{{ pk }}{% endif %}">Отмена</a>
            <button type="submit" class="save btn btn-primary">Сохранить</button>
        </div>
    </form>
    <div class="hidden">
        <div id="empty-form">
            <hr>
            <div class="raw-fields">
                <div class="input_field large-field">
                    <span class="label">{{ formset.empty_form.product_name.label }}</span>
                    <input type="text" list="products-__prefix__" name="form-__prefix__-product_name" maxlength="100" id="id_form-__prefix__-product_name" class="product_name"/>
                    <datalist id="products-__prefix__"></datalist>
                </div>
                <button type="button" class="delete" data-dismiss="alert" aria-label="Close" value="form-__prefix__">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="raw-fields">
                <div class="input_field">
                    <span class="label">Кол-во</span>{{ formset.empty_form.amount }}
                </div>
                <div class="input_field">
                    <span class="label">Ед. Изм.</span>{{ formset.empty_form.unitType }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}