{% extends "base.html" %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/fooddairy.css' %}">
    <link rel="stylesheet" href="{% static 'css/create_update.css' %}">
{% endblock %}
{% block script2 %}<script src="{% static 'js/fooddairy.js' %}"></script>{% endblock %}
{#<!-- Content for displaying list of trainers -->#}
{% block content %}
<h4 class="small-header">{% block pageName %}Прием Пищи{% endblock %}</h4>
<div id="inside-content">
    
</div>
{% endblock %}