{% extends "systemdata.html" %}
{% load static %}
{#<!-- Content for displaying list of trainers -->#}
{% block content2 %}
    <table class="table table-striped">
        <tr>
            <th class="minCol">Название</th>
            <th class="minCol">БЖУ</th>
            <th class="btnCol"></th>
            <th class="btnCol"></th>
        </tr>
        {% if purposes %}
            {% for purpose in purposes %}
                <tr>
                    <td class="minCol">{{ purpose.name }}</td>
                    <td class="centerCol minCol">{{ purpose.proteins_rate_min }} / {{ purpose.fats_rate_min }} / {{ purpose.carbohydrates_rate_max }}</td>
                    <td class="btnCol">
                        <a href="{% url 'update_purpose' purpose.id %}">
                            <img src="{% static 'images/editBtn.svg' %}" alt="Edit" class="btnImage">
                        </a>
                    </td>
                    <td class="btnCol">
                        {% if purpose.active %}
                            <a href="{% url 'delete_purpose' purpose.id %}">
                                <img src="{% static 'images/deleteBtn.svg' %}" alt="Delete" class="btnImage">
                            </a>
                        {% else %}
                            <a href="{% url 'activate_purpose' purpose.id %}">
                                <img src="{% static 'images/return.svg' %}" alt="Return to active" class="btnImage">
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {#<!-- If there is no trainer in data then let user know. -->#}
        {% else %}
            <tr>
                <td colspan="6" id="emptyList">
                    <p>На данный момент данные отсутствуют.</p>
                    <p><a class="btn btn-secondary" href="{% url 'create_purpose' %}">Добавить</a></p>
                </td>
            </tr>
        {% endif %}
    </table>
{% endblock %}