{% extends "base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'css/user.css' %}">{% endblock %}
{#<!-- Content for displaying list of recipes -->#}
{% block content %}    
<div id="enterForm"> 
    <h4><a href="{% url 'start_page' %}">ResultFit</a></h4>
    <hr id="fromTitle">
    <h1>Вход</h1>
    {% if messages %}
        {% for message in messages %}
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        {% endfor %}
    {% endif %}
    <form action="" method="post" novalidate>
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
                <td>{% if form.username.errors %}
                        <ul class="errorlist">
                            {% for error in form.username.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
                <td>{% if form.password.errors %}
                        <ul class="errorlist">
                            {% for error in form.password.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
        </table>
        <input type="submit" class="btn btn-success" value="Войти" />
        <p>Забыли пароль? <a href="{% url 'reset' %}">Восстановить</a></p>
        <p>Являетесь тренером? <a href="{% url 'trainer_register' %}">Зарегистрироваться через код тренера</a></p>
        <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
    </form>
</div>  
{% endblock %}