{% extends "base.html" %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    <link rel="stylesheet" href="{% static 'css/create_update.css' %}">
{% endblock %}
{% block script2 %}<script src="{% static 'js/trainer.js' %}"></script>{% endblock %}
{#<!-- Content for Creating/Updating page -->#}
{% block content %}
<h4 class="small-header">{% block pageName %}Редактирование профиля{% endblock %}</h4>
<div id="inside-content">
    {#<!-- Форма отправки данных -->#}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {#<!-- Таблица полей, для ровного отображения -->#}
        <div class="raw-fields">
            <div class="input_field">
                <span class="label">Фамилия</span>{{ form2.last_name }}
            </div>
            <div class="input_field">
                <span class="label">Имя</span>{{ form2.first_name }}
            </div>
        </div>
        <div class="input_field">
            <span class="label">E-mail</span>{{ form2.email }}
        </div>
        <hr>
        <div class="radio-field">
            <span class="label">Пол</span>{{ form1.sex }}
        </div>
        <div class="raw-fields">
            <div class="input_field">
                <span class="label">Возраст</span>{{ form1.age }}
            </div>
            <div class="input_field">
                <span class="label">Рост</span>{{ form1.height }}
            </div>
            <div class="input_field">
                <span class="label">Вес</span>{{ form1.weight }}
            </div>
        </div>
        <div class="raw-fields">
            <div class="input_field">
                <span class="label">Активность</span>{{ form1.activity }}
            </div>
            <div class="input_field">
                <span class="label">Цель</span>{{ form1.purpose }}
            </div>
        </div>
        {% comment %}<hr>
        <div class="multifile-field">
            {{  formset.management_form }}
            <div id="formset">
                {% for form in formset %}
                    {{ form.file }}
                {% endfor %}
            </div>
        </div>
        {% endcomment %}
        
        <div class="form-buttons">
            <a class="btn btn-danger" href="/profile/">Отмена</a>
            <button type="submit" class="save btn btn-primary">Сохранить</button>
        </div>
    </form>
</div>
{% endblock %}