{% extends "base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'css/user.css' %}">{% endblock %}
{% block content %} 
    <div id="enterForm">
        <h4><a href="{% url 'start_page' %}">ResultFit</a></h4>
        <hr id="fromTitle">
        <h1>Регистрация</h1>
        {% if messages %}
            {% for message in messages %}
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            {% endfor %}
        {% endif %}
        <form action="" method="post" novalidate>
            {% csrf_token %}
            <table>
                <tr>
                    <td colspan="2" class="errorCol">{% if form.last_name.errors %}
                        
                            {% for error in form.last_name.errors %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                        
                    {% endif %}</td>
                </tr>
                <tr>
                    <td colspan="2" class="errorCol">{% if form.first_name.errors %}
                        
                            {% for error in form.first_name.errors %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                        
                    {% endif %}</td>
                </tr>
                <tr> 
                    <td colspan="2" class="errorCol">{% if form.email.errors %}
                        
                            {% for error in form.email.errors %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                        
                    {% endif %}</td>
                </tr>
                <tr>
                    <td>{{ form.last_name.label_tag }}</td>
                    <td>{{ form.last_name }}</td>
                </tr>
                <tr>
                    <td>{{ form.first_name.label_tag }}</td>
                    <td>{{ form.first_name }}</td>
                </tr>
                <tr>
                    <td>{{ form.email.label_tag }}</td>
                    <td>{{ form.email }}</td>
                </tr>
                <tr><td colspan="3"><hr></td></tr>
                <tr>
                    <td colspan="2" class="errorCol">{% if form.username.errors %}
                        
                            {% for error in form.username.errors %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                        
                    {% endif %}</td>
                </tr>
                <tr>
                    <td colspan="2" class="errorCol">{% if form.password1.errors %}
                        
                            {% for error in form.password1.errors %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                        
                    {% endif %}</td>
                </tr>
                <tr>
                    <td colspan="2" class="errorCol">{% if form.password2.errors %}
                        
                            {% for error in form.password2.errors %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                        
                    {% endif %}</td>
                </tr>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password1.label_tag }}</td>
                    <td>{{ form.password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.password2.label_tag }}</td>
                    <td>{{ form.password2 }}</td>
                </tr>
            </table>
            <button type="submit" class="btn btn-success">Зарегистрироваться</button>
            <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
        </form>
    </div>
{% endblock %}