{% extends "base.html" %}
{% load static %}
{#<!-- CSS styles -->#}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{#<!-- App name (link to the home page) -->#}
{% block name %}<a id="cname" href="/">DietCreation</a>{% endblock %}
{#<!-- Content for displaying list of recipes -->#}
{% block content %}       
    <h1>User Home</h1>
    <p>Здесь будет страница с планами пользователя, может меню ближайшее или что-то другое.</p>
    <p>Это будет видно только активному пользователю</p>
{% endblock %}