{% extends "base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'css/table.css' %}">{% endblock %}
{#<!-- Content for displaying list of clients -->#}
{% block content %}
<h4 class="small-header">{% block pageName %}Список клиентов{% endblock %}</h4>
<div id="inside-content">
    <div id="submenu" class="submenu">
        <a href="{% url 'clients' 'current' %}" {% if activeCurrent %}class="subactive"{% endif %}>Текущие клиенты</a>
        <a href="{% url 'clients' 'request' %}" {% if activeRequest %}class="subactive"{% endif %}>Запросы<span class="countNum">{{ requestNum }}</span></a>
    </div>
    <div id="messages">
        <p id="success_code">Какое то сообщение</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {#<!-- List (line) with general icons -->#}
    <div class="list-icons">
        {#<!-- Search -->#}
        <form id="search" method="GET" class="form" 
            {% if activeCurrent %}action="{% url 'clients' 'current' %}"{% endif %}
            {% if activeRequest %}action="{% url 'clients' 'request' %}"{% endif %}>
            {#<!-- Text field for search -->#}
            <input type="text" name="searchclient" placeholder="Поиск" 
                    class="form-control" 
                    {% if search %}
                        value="{{ search }}"
                    {% else %}
                        value=""
                    {% endif %}></input>
            {#<!-- Button for submiting form -->#}
            <input type="image" src="{% static 'images/searchBtn.svg' %}" alt="Поиск">
        </form>
    </div>
    {#<!-- List of clients. If there is any client in data then show them all. -->#}
    {#<!-- For each client in data create a new block -->#}
    <table class="table table-striped">
        <tr>
            <th>Фамилия Имя</th>
            <th class="emailCol">Телефон</th>
            <th>Цель</th>
            <th class="btnCol"></th>
            {% if activeRequest %}<th class="btnCol"></th>{% endif %}
        </tr>
        {% if clients %}
            {% for client in clients %}
                <tr>
                    <td>{{ client.client.user.last_name }} {{ client.client.user.first_name }}</td>
                    <td class="centerCol emailCol">{% if client.client.phone %}{{ client.client.phone }}{% else %}-{% endif %}</td>
                    <td class="centerCol">{% if client.client.purpose %}{{ client.client.purpose }}{% else %}-{% endif %}</td>
                    <td class="btnCol">
                        <a href="{% url 'client' client.client.user.id %}">
                            <img src="{% static 'images/viewBtn.svg' %}" alt="View" class="btnImage">
                        </a>
                    </td>
                    {% if not client.active %}
                        <td class="btnCol">
                            <a href="{% url 'accept_client' client.id %}">
                                <img src="{% static 'images/accept.svg' %}" alt="accept" class="btnImage">
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>
{% endblock %}