{% extends "base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'css/table.css' %}">{% endblock %}
{% block script2 %}<script src="{% static 'js/client.js' %}"></script>{% endblock %}
{#<!-- Content for displaying list of clients -->#}
{% block content %}
<h4 class="small-header">{% block pageName %}Профиль клиента{% endblock %}</h4>
<div id="inside-content">
    <table>
        <tr>
            <td>Фамилия Имя</td>
            <td>{{ client.user.last_name }} {{ client.user.first_name }}</td>
        </tr>
        <tr>
            <td>Телефон</td>
            <td>{% if client.phone %}{{ client.phone }}{% else %}-{% endif %}</td>
        </tr>
        <tr>
            <td>Текущие показатели (рост/вес/активность)</td>
            <td>{% if client.height %}{{ client.height }}{% else %}-{% endif %}/{% if client.weight %}{{ client.weight }}{% else %}-{% endif %}/{% if client.activity %}{{ client.activity }}{% else %}-{% endif %}</td>
        </tr>
        <tr>
            <td>Статистика по дневнику питания</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Статистика по дневнику тренировок</td>
            <td>-</td>
        </tr>
    </table>
</div>
{% endblock %}