{% extends "base.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'css/user.css' %}">{% endblock %}
{% block script2 %}<script src="{% static 'js/trainer.js' %}"></script>{% endblock %}
{% block pageName %}
    {% if pk != None %}
        Редактирование данных тренера
    {% else %}
        Добавление тренера
    {% endif %}
{% endblock %}
{#<!-- Content for Creating/Updating page -->#}
{% block content %}
    {#<!-- Форма отправки данных -->#}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {#<!-- Таблица полей, для ровного отображения -->#}
        <table>
            <tr>
                <td>{{ form.lastName.label_tag }}</td>
                <td>{{ form.lastName }}</td>
            </tr>
            <tr>
                <td>{{ form.firstName.label_tag }}</td>
                <td>{{ form.firstName }}</td>
            </tr>
            <tr>
                <td>{{ form.email.label_tag }}</td>
                <td>{{ form.email }}</td>
                <td class="errorCol">{{ form.email.errors }}</td>
            </tr>
            <tr>
                <td>{{ form.code.label_tag }}</td>
                <td>{{ form.code }}</td>
                <td><button type="button" class="btn btn-secondary" onclick="generateCode()"><img src="{% static 'images/update.svg' %}" alt="Generate code" class="btnImage"></button></td>
                <td class="errorCol">{{ form.code.errors }}</td>
            </tr>
            <tr>
                <td><a class="btn btn-danger" href="/trainers/{% if pk != None %}/card/{{ pk }}{% endif %}">Отмена</a></td>
                <td class="saveCol"><button type="submit" class="btn btn-primary">Сохранить</button></td>
            </tr>
        </table>
    </form>
{% endblock %}