{% extends "base.html" %}
{% load static %}
{#<!-- Content for Reading page -->#}
{% block content %}
<h4 class="small-header">{% block pageName %}Тренер{% endblock %}</h4>
<div id="inside-content">
    {#<!-- Other object data -->#}
    <div class="object-detail">
        <p>Фамилия: {{ trainer.lastName }}</p>
        <p>Имя: {{ trainer.firstName }}</p>
        <p>email: {{ trainer.email }}</p>
        <p>Код для входа: {{ trainer.code }}</p>
        <p>Авторизован?: {% if trainer.user %}
                Да
            {% else %}
                Нет
            {% endif %}
        </p>
    </div>
    <div class="acts">
        <a href="/trainers/{{ trainer.pk }}/update">
            <img src="{% static 'images/editBtn.svg' %}" alt="Edit" class="btnImage">
        </a>
        <form action="" method="POST" id="delete-form">
            {% csrf_token %}
            <input type="hidden" value="card" name="template">
            <button type="submit" class="btnImage"><img src="{% static 'images/deleteBtn.svg' %}" alt="Delete" class="btnImage"></button>
        </form>
    </div>
</div>
{% endblock %}