{% extends "base.html" %}
{% load static %}
{#<!-- Content for displaying list of trainers -->#}
{% block content %}
    {#<!-- Main header (title)-->#}
    <h1>{% block title %}Список тренеров{% endblock %}</h1>
    {#<!-- List (line) with general icons -->#}
    <div class="list-icons">
        {#<!-- Add icon (button) for creating new trainer -->#}
        <a href="{% url 'create_trainer' %}" id="addBtn">+</a>
        {#<!-- Search -->#}
        <form id="search" method="GET" class="form" action="{% url 'trainers' %}">
            {#<!-- Text field for search -->#}
            <input type="text" name="searchTrainer" placeholder="Поиск" 
                    class="form-control" 
                    value="{{ search }}"
            ></input>
            {#<!-- Button for submiting form -->#}
            <input type="image" src="{% static 'images/searchBtn.svg' %}" alt="Поиск">
        </form>
    </div>
    {#<!-- List of trainers. If there is any trainer in data then show them all. -->#}
    {#<!-- For each trainer in data create a new block -->#}
    <table class="table table-striped">
        <tr>
            <th>Фамилия Имя</th>
            <th>Email</th>
            <th>Код для входа</th>
            <th>Регистрация пройдена</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {% if trainers %}
            {% for trainer in trainers %}
                <tr>
                    <td><a href="/trainers/card/{{ trainer.id }}/">{{ trainer.lastName }} {{ trainer.firstName }}</a></td>
                    <td>{{ trainer.email }}</td>
                    <td>{{ trainer.code }}</td>
                    <td>
                        {% if trainer.user %}
                            Да
                        {% else %}
                            Нет
                        {% endif %}
                    </td>
                    <td>RE</td>
                    <td>
                        <a href="/trainers/{{ trainer.id }}/update">
                            <img src="{% static 'images/editBtn.svg' %}" alt="Edit">
                        </a>
                    </td>
                    <td>
                        <form action="" method="POST" id="delete-form">
                            {% csrf_token %}
                            <input type="hidden" value="list" name="template">
                            <button type="submit"><img src="{% static 'images/deleteBtn.svg' %}" alt="Delete"></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        {#<!-- If there is no trainer in data then let user know. -->#}
        {% else %}
            <tr colspan="2">
                <p>На данный момент не зарегистрированно ни одного тренера.</p>
                <p><a class="btn btn-secondary" href="#">Добавить тренера</a></p>
            </div>
        {% endif %}
    </table>
{% endblock %}